@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inconsolata&display=swap");
:root {
  --font: DM Sans;
  --topToXheightRatio: .345;
  --lineheightMinusXheightRatio: .505;
  --leftShiftRatio: .07;
  --letterSpacingRatio: -.04em;
  --debug: 1px;
  --padding: 0;
  --mainPadding: 2rem;
  --bg: #eee;
  --clr: #333;
  --bgAlpha: #808080;
  --bgAlphaLight: #80808022;
  --clrAlpha: #80808080;
  --clrAlphaLight: #80808022;
  --multiply: multiply;
  --screen: screen;
}

html {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: var(--bg);
  font: 16px/1em "DM Sans";
  -webkit-transition: all .9s;
  transition: all .9s;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding-top: 0.1px;
}

body {
  margin: 4rem;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  padding-bottom: 12rem;
  color: var(--clr);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flow-root;
  -webkit-transition: all .6s;
  transition: all .6s;
}

@media screen and (max-width: 40rem) {
  body {
    margin: 2rem;
  }
}

@media screen and (min-width: 60rem) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(100% - 8rem);
    gap: 4rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  body section {
    padding-top: 8rem;
    width: 100%;
  }
}

.debug {
  display: flow-root;
  width: 100%;
  outline: var(--debug) inset #f009;
  outline-offset: -1px;
}

h1 {
  --fontSize: 24rem;
  --lineHeight: 1;
  font: var(--fontSize)/var(--lineHeight) var(--font);
  letter-spacing: calc(0em + var(--letterSpacingRatio));
  -webkit-transform: translatey(calc(0em - var(--fontSize) * (((var(--lineHeight) - 1)/2) + var(--topToXheightRatio)))) translatex(calc(0em - var(--fontSize) * var(--leftShiftRatio)));
          transform: translatey(calc(0em - var(--fontSize) * (((var(--lineHeight) - 1)/2) + var(--topToXheightRatio)))) translatex(calc(0em - var(--fontSize) * var(--leftShiftRatio)));
  margin-bottom: calc(0em - var(--fontSize) * ((var(--lineHeight) - 1) + var(--lineheightMinusXheightRatio)));
  outline: none;
  padding-bottom: calc(var(--mainPadding) * var(--padding));
}

h2 {
  --fontSize: 12rem;
  --lineHeight: 1;
  font: var(--fontSize)/var(--lineHeight) var(--font);
  letter-spacing: calc(0em + var(--letterSpacingRatio));
  -webkit-transform: translatey(calc(0em - var(--fontSize) * (((var(--lineHeight) - 1)/2) + var(--topToXheightRatio)))) translatex(calc(0em - var(--fontSize) * var(--leftShiftRatio)));
          transform: translatey(calc(0em - var(--fontSize) * (((var(--lineHeight) - 1)/2) + var(--topToXheightRatio)))) translatex(calc(0em - var(--fontSize) * var(--leftShiftRatio)));
  margin-bottom: calc(0em - var(--fontSize) * ((var(--lineHeight) - 1) + var(--lineheightMinusXheightRatio)));
  outline: none;
  padding-bottom: calc(var(--mainPadding) * var(--padding));
}

h3 {
  --fontSize: 6rem;
  --lineHeight: 1;
  font: var(--fontSize)/var(--lineHeight) var(--font);
  letter-spacing: calc(0em + var(--letterSpacingRatio));
  -webkit-transform: translatey(calc(0em - var(--fontSize) * (((var(--lineHeight) - 1)/2) + var(--topToXheightRatio)))) translatex(calc(0em - var(--fontSize) * var(--leftShiftRatio)));
          transform: translatey(calc(0em - var(--fontSize) * (((var(--lineHeight) - 1)/2) + var(--topToXheightRatio)))) translatex(calc(0em - var(--fontSize) * var(--leftShiftRatio)));
  margin-bottom: calc(0em - var(--fontSize) * ((var(--lineHeight) - 1) + var(--lineheightMinusXheightRatio)));
  outline: none;
  padding-bottom: calc(var(--mainPadding) * var(--padding));
}

h4 {
  --fontSize: 3rem;
  --lineHeight: 1;
  font: var(--fontSize)/var(--lineHeight) var(--font);
  letter-spacing: calc(0em + var(--letterSpacingRatio));
  -webkit-transform: translatey(calc(0em - var(--fontSize) * (((var(--lineHeight) - 1)/2) + var(--topToXheightRatio)))) translatex(calc(0em - var(--fontSize) * var(--leftShiftRatio)));
          transform: translatey(calc(0em - var(--fontSize) * (((var(--lineHeight) - 1)/2) + var(--topToXheightRatio)))) translatex(calc(0em - var(--fontSize) * var(--leftShiftRatio)));
  margin-bottom: calc(0em - var(--fontSize) * ((var(--lineHeight) - 1) + var(--lineheightMinusXheightRatio)));
  outline: none;
  padding-bottom: calc(var(--mainPadding) * var(--padding));
}

h5 {
  --fontSize: 1.5rem;
  --lineHeight: 1;
  font: var(--fontSize)/var(--lineHeight) var(--font);
  letter-spacing: calc(0em + var(--letterSpacingRatio));
  -webkit-transform: translatey(calc(0em - var(--fontSize) * (((var(--lineHeight) - 1)/2) + var(--topToXheightRatio)))) translatex(calc(0em - var(--fontSize) * var(--leftShiftRatio)));
          transform: translatey(calc(0em - var(--fontSize) * (((var(--lineHeight) - 1)/2) + var(--topToXheightRatio)))) translatex(calc(0em - var(--fontSize) * var(--leftShiftRatio)));
  margin-bottom: calc(0em - var(--fontSize) * ((var(--lineHeight) - 1) + var(--lineheightMinusXheightRatio)));
  outline: none;
  padding-bottom: calc(var(--mainPadding) * var(--padding));
}

.caption {
  --fontSize: .6rem;
  --lineHeight: 1.5;
  font: var(--fontSize)/var(--lineHeight) var(--font);
  letter-spacing: calc(0em + var(--letterSpacingRatio));
  -webkit-transform: translatey(calc(0em - var(--fontSize) * (((var(--lineHeight) - 1)/2) + var(--topToXheightRatio)))) translatex(calc(0em - var(--fontSize) * var(--leftShiftRatio)));
          transform: translatey(calc(0em - var(--fontSize) * (((var(--lineHeight) - 1)/2) + var(--topToXheightRatio)))) translatex(calc(0em - var(--fontSize) * var(--leftShiftRatio)));
  margin-bottom: calc(0em - var(--fontSize) * ((var(--lineHeight) - 1) + var(--lineheightMinusXheightRatio)));
  outline: none;
  display: block;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: bold;
  padding-bottom: var(--mainPadding);
}

p {
  --fontSize: 1rem;
  --lineHeight: 1.5;
  font: var(--fontSize)/var(--lineHeight) var(--font);
  letter-spacing: calc(0em + var(--letterSpacingRatio));
  -webkit-transform: translatey(calc(0em - var(--fontSize) * (((var(--lineHeight) - 1)/2) + var(--topToXheightRatio)))) translatex(calc(0em - var(--fontSize) * var(--leftShiftRatio)));
          transform: translatey(calc(0em - var(--fontSize) * (((var(--lineHeight) - 1)/2) + var(--topToXheightRatio)))) translatex(calc(0em - var(--fontSize) * var(--leftShiftRatio)));
  margin-bottom: calc(0em - var(--fontSize) * ((var(--lineHeight) - 1) + var(--lineheightMinusXheightRatio)));
  outline: none;
  padding-bottom: calc(var(--mainPadding) * var(--padding));
}

.boxwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 4rem;
}

.boxwrapper .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  padding: 1rem 0 0;
}

.boxwrapper .box h4 {
  padding-bottom: var(--mainPadding);
}

.boxwrapper .box p {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  padding-top: 0;
  padding-bottom: var(--mainPadding);
}

.boxwrapper .box p:last-child {
  padding-bottom: 0;
}

.settings {
  --active: var(--bg);
  --active-inner: var(--clr);
  --focus: 2px var(--bgAlpha);
  --border: var(--bgAlphaLight);
  --border-hover: var(--bgAlpha);
  --background: var(--clr);
  --disabled: #F6F8FF;
  --disabled-inner: #E1E6F9;
  font-family: "DM Sans", sans-serif;
  letter-spacing: -.015em;
  -webkit-transition: all .6s;
  transition: all .6s;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--bg);
  background: var(--clr);
  margin-bottom: 6rem;
  -webkit-box-flex: 30rem;
      -ms-flex: 30rem;
          flex: 30rem;
}

.settings form {
  max-width: 75rem;
  padding: 2rem;
}

.settings legend {
  color: var(--bgAlpha);
}

.settings #switchar {
  margin-top: rem;
}

.settings details {
  padding: 2rem;
}

.settings details summary {
  padding-bottom: 0;
  cursor: pointer;
}

.settings details article {
  padding-top: 2rem;
}

.settings details article h5 {
  padding-bottom: 2rem;
}

.settings details article p {
  padding-bottom: 2rem;
}

.settings details article a {
  color: var(--bgAlpha);
}

.settings #fontSpecs {
  font-family: "Inconsolata", monospace;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  outline: none;
  padding: 0 2rem 2rem;
  -moz-tab-size: 1;
    -o-tab-size: 1;
       tab-size: 1;
}

.settings .fieldset {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.settings .fieldset > div {
  margin-bottom: 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.settings .fieldset > div legend {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  padding-top: .5rem;
}

.settings #switchar {
  margin-top: 1rem;
}

.settings #switchar div {
  padding-bottom: .5rem;
}

.settings #switchar label {
  padding-left: 1rem;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .settings input {
    font-family: "DM Sans", sans-serif;
    letter-spacing: -.015em;
    color: var(--bg);
    border: 0;
    border-radius: 0.5rem;
    outline: none;
    border: rgba(0, 0, 0, 0.05);
    background: var(--clrBgLight);
    -webkit-transition: -webkit-box-shadow 0.3s ease-out;
    transition: -webkit-box-shadow 0.3s ease-out;
    transition: box-shadow 0.3s ease-out;
    transition: box-shadow 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
  }
  .settings input[type="text"] {
    background: none;
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    width: 100%;
    font-size: 1rem;
    border-bottom: 3px solid var(--bgAlphaLight);
    border-radius: 0;
    padding: 0.5rem 0;
    margin-bottom: .5rem;
  }
  .settings input[type="number"] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 4rem;
            flex: 0 0 4rem;
    font-size: 1rem;
    text-align: right;
  }
  .settings input::-webkit-outer-spin-button,
  .settings input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .settings input[type=number] {
    -moz-appearance: textfield;
  }
  .settings input[type="range"] {
    -webkit-appearance: none;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    height: 3px;
    cursor: pointer;
    background: var(--bgAlphaLight);
    padding: 0;
    margin: 1em 0 0.8em;
  }
  .settings input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    background: var(--bg);
    cursor: pointer;
    margin-top: 0px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .settings input[type="range"]::-webkit-slider-thumb:active {
    background: var(--bgAlpha);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .settings input[type='checkbox'],
  .settings input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 25px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 3px solid var(--bgAlphaLight);
    background: var(--b, var(--background));
    -webkit-transition: background .3s, border-color .3s, -webkit-box-shadow .2s;
    transition: background .3s, border-color .3s, -webkit-box-shadow .2s;
    transition: background .3s, border-color .3s, box-shadow .2s;
    transition: background .3s, border-color .3s, box-shadow .2s, -webkit-box-shadow .2s;
  }
  .settings input[type='checkbox']:after,
  .settings input[type='radio']:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    -webkit-transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
  }
  .settings input[type='checkbox']:checked,
  .settings input[type='radio']:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }
  .settings input[type='checkbox']:disabled,
  .settings input[type='radio']:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: .9;
  }
  .settings input[type='checkbox']:disabled:checked,
  .settings input[type='radio']:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  .settings input[type='checkbox']:disabled + label,
  .settings input[type='radio']:disabled + label {
    cursor: not-allowed;
  }
  .settings input[type='checkbox']:hover:not(:checked):not(:disabled),
  .settings input[type='radio']:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  .settings input[type='checkbox']:not(.switch),
  .settings input[type='radio']:not(.switch) {
    width: 21px;
  }
  .settings input[type='checkbox']:not(.switch):after,
  .settings input[type='radio']:not(.switch):after {
    opacity: var(--o, 0);
  }
  .settings input[type='checkbox']:not(.switch):checked,
  .settings input[type='radio']:not(.switch):checked {
    --o: 1;
  }
  .settings input[type='checkbox']:not(.switch) {
    border-radius: 7px;
  }
  .settings input[type='checkbox']:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    -webkit-transform: rotate(var(--r, 20deg)) scale(0);
            transform: rotate(var(--r, 20deg)) scale(0);
  }
  .settings input[type='checkbox']:not(.switch):checked {
    --r: 43deg;
  }
  .settings input[type='checkbox']:not(.switch):checked:after {
    -webkit-transform: rotate(var(--r, 20deg)) scale(1);
            transform: rotate(var(--r, 20deg)) scale(1);
  }
  .settings input[type='checkbox'].switch {
    width: 42px;
    border-radius: 13px;
  }
  .settings input[type='checkbox'].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--bg));
    -webkit-transform: translateX(var(--x, 0));
            transform: translateX(var(--x, 0));
  }
  .settings input[type='checkbox'].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
    border-color: var(--bgAlpha);
  }
  .settings input[type='checkbox'].switch:disabled:not(:checked):after {
    opacity: .6;
  }
  .settings input[type='radio'] {
    border-radius: 50%;
  }
  .settings input[type='radio']:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    -webkit-transform: scale(var(--s, 0.7));
            transform: scale(var(--s, 0.7));
  }
  .settings input[type='radio']:checked {
    --s: .5;
  }
}

.awesomplete .visually-hidden {
  display: none;
}

.awesomplete mark {
  color: var(--bg);
  background: var(--bgAlphaLight);
}

.awesomplete [aria-selected="true"] {
  background: var(--bgAlphaLight);
}

[contenteditable]:focus {
  outline: none;
}
/*# sourceMappingURL=style.css.map */